#! /bin/sh
cat << EOF 
#/etc/grub.d/41_custom
menuentry 'debian preseed' {
    insmod part_msdos
    insmod ext2
    set root='hd0,msdos1'
    linux16 /generic-ipxe.lkrn
    initrd16 /debian-preseed-initrd
}
EOF
